@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  line-height: 1;
  width: 100vw;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Aura";
  src: url("../font/AuraRegular.eot");
  src: url("../font/AuraRegular.eot?#iefix") format("embedded-opentype"), url("../font/AuraRegular.woff") format("woff"), url("../font/AuraRegular.ttf") format("truetype"), url("../font/AuraRegular.svg#Aura") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #1d1d1d;
  z-index: -1;
}

.m-card {
  grid-column: span 1;
  grid-row: span 1;
  padding: 20px 20px 100px 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s ease-in;
  color: #fff;
}
.m-card:hover {
  grid-column: span 2;
  grid-row: span 2;
  background: #fff;
  color: #000;
}
@media (max-width: 600px) {
  .m-card:hover {
    grid-column: span 1;
    grid-row: span 2;
  }
}
.m-card:hover img {
  transition: 0.5s ease-in;
  margin-bottom: 20px;
  width: 100%;
}
.m-card img {
  width: 0%;
}
.m-card__infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.m-card__infos__category {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: "Aura", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
.m-card__infos__category::before {
  content: "";
  width: 20px;
  height: 10px;
}
.m-card__infos__category-film::before {
  background: #93b0ce;
}
.m-card__infos__category-rencontres::before {
  background: #ff8b0f;
}
.m-card__infos__category-festival::before {
  background: #439830;
}
.m-card__infos__publication {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #777;
  text-transform: uppercase;
}
.m-card__title {
  font-family: "Aura", sans-serif;
  font-size: 25px;
}

.o-header {
  width: 100vw;
  position: relative;
  padding-top: 30px;
  z-index: 1;
}
.o-header__burger {
  padding: 0 30px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.o-header__burger-logo {
  width: 6em;
}
.o-header__burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.o-header__burger-icon span {
  width: 35px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  margin: 5px 0;
}
.o-header__burger-icon::before, .o-header__burger-icon::after {
  content: "";
  width: 35px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
}
.o-header__nav {
  width: 33.3333333333vw;
  height: 90vh;
  background: #dd1b5e;
  position: fixed;
  top: 0;
  right: 0;
  padding: 50px;
  overflow-y: scroll;
  position: fixed;
  right: -44vw;
  transition: 1s ease-in;
  transition-delay: 0;
}
.o-header__nav::-webkit-scrollbar {
  display: none;
}
@media (max-width: 900px) {
  .o-header__nav {
    right: -48vw;
  }
}
@media (max-width: 600px) {
  .o-header__nav {
    padding: 20px;
    width: 91%;
    height: 96vh;
    right: -104vw;
  }
}
.o-header__nav__menu {
  font-family: "Aura", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.o-header__nav__menu .menu-icon {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-family: "Aura", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}
.o-header__nav__menu .menu-icon img {
  width: 30%;
}
.o-header__nav__menu .menu-close {
  padding: 22px 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.o-header__nav__menu .menu-close span {
  display: block;
  width: 15px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
}
.o-header__nav__menu .menu-close span:nth-child(1) {
  transform: rotate(45deg);
}
.o-header__nav__menu .menu-close span:nth-child(2) {
  transform: rotate(-45deg);
  margin-top: -2px;
}
.o-header__nav__block {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.o-header__nav__block::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 15px;
}
.o-header__nav__block .title-category {
  font-family: "Aura", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}
.o-header__nav__block-actus .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 40px;
}
.o-header__nav__block-actus .container .thumb {
  width: 100%;
  overflow: hidden;
  margin: 25px 0 10px 0;
}
.o-header__nav__block-actus .container .thumb img {
  width: 100%;
}
.o-header__nav__block-actus .container .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.o-header__nav__block-actus .container .content__category {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.o-header__nav__block-actus .container .content__category-rencontres::before {
  content: "";
  width: 20px;
  height: 10px;
  background: #ff8b0f;
}
.o-header__nav__block-actus .container .content__category-festival::before {
  content: "";
  width: 20px;
  height: 10px;
  background: #439830;
}
.o-header__nav__block-actus .container .content__category__text {
  font-family: "Aura", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}
.o-header__nav__block-actus .container .content__date-publication {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #fff;
}
.o-header__nav__block-actus .container .title-article__text {
  font-family: "Aura", sans-serif;
  font-size: 20px;
  color: #fff;
}
.o-header__nav__block-news {
  margin-top: 0;
}
.o-header__nav__block-news .title-category {
  margin-bottom: 25px;
}
.o-header__nav__block-news .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.o-header__nav__block-news .container-header__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.o-header__nav__block-news .container-header__title i {
  color: #1ea1f1;
}
.o-header__nav__block-news .container-header__title .tag {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}
.o-header__nav__block-news .container-header .date-publication {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  text-align: end;
}
.o-header__nav__block-news .container-paragraphe {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  line-height: 1.5em;
}
.o-header__nav__block-news .container-paragraphe__tags {
  font-weight: 800;
}
.o-header__nav__block-news .container-compte {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.o-header__nav__block-news .container-compte img {
  width: 30%;
}
.o-header__nav__block-news .container-compte__nom {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 800;
  color: #fff;
}
.o-header__nav__block-news .container-compte__nom-link {
  color: rgba(0, 0, 0, 0.3);
  margin-top: 3px;
}
.o-header__nav__block-temoignages .title-category {
  margin-bottom: 25px;
}
.o-header__nav__block-temoignages .container-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}
@media (max-width: 600px) {
  .o-header__nav__block-temoignages .container-wrap {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
}
.o-header__nav__block-temoignages .container-wrap .container {
  width: 100%;
}
.o-header__nav__block-temoignages .container-wrap .container-portrait {
  width: 100%;
  margin-bottom: 25px;
}
.o-header__nav__block-temoignages .container-wrap .container-portrait img {
  width: 100%;
}
.o-header__nav__block-temoignages .container-wrap .container-content {
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.o-header__nav__block-temoignages .container-wrap .container-content__tag {
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
}
.o-header__nav__block-temoignages .container-wrap .container-content__nom {
  font-family: "Aura", sans-serif;
  font-size: 20px;
}
.o-header__nav__block-temoignages .container-wrap .container-content__role {
  font-weight: 400;
  font-size: 13px;
}
.o-header__nav__block-events .title-category {
  margin-bottom: 25px;
}
.o-header__nav__block-events .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding: 20px 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.o-header__nav__block-events .container-titre {
  width: 50%;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
}
.o-header__nav__block-events .container-lieu {
  width: 33.3333333333%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.o-header__nav__block-events .container-lieu__flag {
  width: 10%;
  background-color: #fff;
  border-radius: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.o-header__nav__block-events .container-lieu__flag img {
  width: 100%;
}
.o-header__nav__block-events .container-lieu p {
  font-size: 13px;
  font-weight: 300;
}
.o-header__nav__block-events .container-date {
  font-size: 13px;
  font-weight: 300;
}
.o-header__nav__block-videos .title-category {
  margin-bottom: 25px;
}
.o-header__nav__block-videos .container {
  position: relative;
  margin: 5px 0;
}
.o-header__nav__block-videos .container-video {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: #000;
}
@media (max-width: 600px) {
  .o-header__nav__block-videos .container-video {
    height: 250px;
  }
}
.o-header__nav__block-videos .container-video video {
  height: 100%;
  opacity: 0.7;
}
.o-header__nav__block-videos .container-nom {
  font-family: "Poppins", sans-serif;
  color: #fff;
  position: absolute;
  bottom: 1.5em;
  left: 1em;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 60px;
}
.o-header__nav__block-videos .container-nom__category {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.o-header__nav__block-videos .container-nom__category-festival::before {
  content: "";
  width: 20px;
  height: 10px;
  background: #439830;
  margin-right: 5px;
}
.o-header__nav__block-videos .container-nom__category-rencontres::before {
  content: "";
  width: 20px;
  height: 10px;
  background: #ff8b0f;
  margin-right: 5px;
}
.o-header__nav__block-videos .container-nom__category__text {
  font-family: "Aura", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
.o-header__nav__block-videos .container-nom__title {
  font-family: "Aura", sans-serif;
  color: #fff;
  font-size: 22px;
}
.o-header__nav__block-videos .container-nom__date-publication {
  color: #fff;
  font-size: 13px;
}

.o-herobanner {
  position: relative;
  top: -13vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .o-herobanner {
    top: -22vh;
  }
}
.o-herobanner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/bg_cover.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.2;
}
.o-herobanner__title {
  width: 100vw;
  margin-top: 120px;
  font-family: "Aura", sans-serif;
  font-size: 15em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1200px) {
  .o-herobanner__title {
    font-size: 11em;
  }
}
@media (max-width: 900px) {
  .o-herobanner__title {
    font-size: 8em;
    justify-items: center;
  }
}
@media (max-width: 600px) {
  .o-herobanner__title {
    font-size: 5em;
    justify-items: center;
  }
}
@media (max-width: 400px) {
  .o-herobanner__title {
    font-size: 4em;
    justify-items: center;
  }
}
.o-herobanner__title .title {
  grid-column: span 2;
}
.o-herobanner__title .title-premier {
  text-align: start;
  margin-left: -10px;
}
@media (max-width: 900px) {
  .o-herobanner__title .title-premier {
    margin-left: 0;
    text-align: center;
  }
}
.o-herobanner__title .title-second {
  text-align: end;
  margin-right: -11px;
  color: #fff;
  -webkit-text-stroke: 0 transparent;
}
@media (max-width: 600px) {
  .o-herobanner__title .title-second {
    margin-right: 0;
    text-align: center;
  }
}

.o-actualites {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.o-actualites::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
}
.o-actualites__title {
  font-family: "Aura", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}
.o-actualites__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 900px) {
  .o-actualites__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .o-actualites__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .o-actualites__grid {
    grid-template-columns: 1fr;
  }
}